html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.service_label {
     color: black;
     font-size: 14px;
     font-weight: bold;
     text-align: center;
     width: 40px;
     /*border: 2px solid black;*/
     white-space: nowrap;
}
